<%= form_for :search, url: search_path, method: :get do |f| %>
  <p>
    <%= f.text_field :query %>
    <%= f.submit "Search"%>
  </p>
<% end %>


<% @categories.each do |category| %>
  <%= link_to category.name, user_category_path(category) %>
<% end %>
